.nav{
    list-style:none;
    margin-left:0;
}
.nav:after {
    content:"";
    display:table;
    clear:both;
}
.nav  > li, .nav > li > a{
    display:inline-block;
    *display:inline;
    zoom:1;
}
.pagination{
    text-align:center;
}
.pagination > li{
    padding: 1em;
    letter-spacing:normal;
    word-spacing:normal;
}
.pagination > li > a{
    padding: 1em;
    margin: -1em;
}
.pagination > .current > a {
    background-color: blue;
    color: white;
}
.pagination__previous a:before{
    content:"\00AB" "\00A0";
}
.pagination__next a:after{
    content:"\00A0" "\00BB";
}

/* Add for TextRenderer output */
.error {
    color: red;
}